@model List<SnipCodeAPI.Models.Snippet>

<h4>Snippets</h4>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Hash</th>
      <th>Name</th>
      <th>CreationTime</th>
      <th>ExpirationTime</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in Model)
    {
      <tr>
        <th>@Html.DisplayFor(x => item.Id)</th>
        <th>@Html.DisplayFor(x => item.Hash)</th>
        <th>@Html.DisplayFor(x => item.Name)</th>
        <th>@Html.DisplayFor(x => item.CreationTime)</th>
        <th>@Html.DisplayFor(x => item.ExpirationTime)</th>
        <th>@Html.DisplayFor(x => item.Files.Count)</th>
      </tr>
    }
  </tbody>
</table>